.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffd95b;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
header{
    background-color: #408be1;
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 350px;
}

label {
    font-weight: bold;
    margin: 10px 0;
}

input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    border: whitesmoke solid;
    border-radius: 1em;
    color: black;
    background-color: white;
}

button{
    border-radius: 1em;
    border: whitesmoke solid;
    width: 30%;
    font-weight: 500;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  